---
title: Авторизация
show_on_main_page: true
---

<div class="button" onclick="openApp()">
    Авторизоваться в приложении
</div>
<div class="button" onclick="logOutFromEsia()">
    Выйти из аккаунта
</div>