<footer>    
    <p class="p1">Если у вас есть какие-либо вопросы или предложения, ображайтесь по адресу
    <a href="<%= data.site.supportMail %>"><span class="s1"><%= data.site.supportMail %></span></a></p>
</footer>